{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo Test
{% endblock %}

{% block content %}
    <section id="hero"> 
        <h2>Testing flask and inja</h2>
        <p>arhhhhhhhhhhhhhhhhhhhhhhhhh</p>
    </section>

    
{% endblock %}